body {
    background-color: #ffffff;

}
.main {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body { 
    font-family: 'Courier New', Courier, monospace;
}
#navegacao ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navegacao li { 
    float: left;
}

#navegacao a {
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

#navegacao a:hover {
    background-color: #111;
}

a.active {
    background-color: #0483aa;
}
